@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Personel</th>
        <th>Alicı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td>
                <a href="/Departman/DepartmanDetay/@k.KargoDetayID"
                   class="btn btn-default" style=" background-color:lightcoral";
                   color:white">Detaylar</a>
            </td>
        </tr>
    }
    </table>
    <a href="/Departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>




