
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<br /><br />
<button class="btn btn-primary" id="btn1">Buton1</button>

<script>
    $('#btn1').click(function(){
        Swal.fire(
            'Merhaba Dünya ',
        )
    });
</script>
